.d{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    
}
body{
    background-image: url('bg.gif');
    background-size:1500px 650px;
    overflow: hidden;
    
}
