body{
    background-image: url("bg1.gif");   
    overflow: hidden;
    background-size:contain;

}
.divs{
    position: relative;
    height: 200px;
    width: 200px;

    background-repeat: no-repeat;

}
#d1{
    left: 0px;
    top: 0px;
    
}
#d2{
    left: 0px;
    top: 0px;
    
}
#d3{
    left: 0px;
    top: 0px;
    
}
#d4{
    left:0px;
    top: 0px;
    
}
#d5{
    left: 200px;
    top: -800px;
    
}
#d6{
    left: 200px;
    top: -800px;
    
}
#d7{
    left: 200px;
    top: -800px;
    
}
#d8{
    left: 200px;
    top: -800px;
    
}
#d9{
    left: 400px;
    top: -1600px;
    
}
#d10{
    left: 400px;
    top: -1600px;
    
}
#d11{
    left: 400px;
    top: -1600px;
    
}
#d12{
    left: 400px;
    top: -1600px;
    
}
#d13{
    left: 600px;
    top: -2400px;
    
}
#d14{
    left: 600px;
    top: -2400px;
    
}
#d15{
    left: 600px;
    top: -2400px;
    
}
#d16{
    left: 600px;
    top: -2400px;
    
}
#d17{
    left: 800px;
    top: -3200px;
    
}
#d18{
    left: 800px;
    top: -3200px;
    
}
#d19{
    left: 800px;
    top: -3200px;
    
}
#d20{
    left: 800px;
    top: -3200px;
    
}
#d21{
    left: 1000px;
    top: -4000px;
    
}
#d22{
    left: 1000px;
    top: -4000px;
    
}
#d23{
    left: 1000px;
    top: -4000px;
    
}
#d24{
    left: 1000px;
    top: -4000px;
    
}
#d25{
    left: 1200px;
    top: -4800px;
    
}
#d26{
    left: 1200px;
    top: -4800px;
    
}
#d27{
    left: 1200px;
    top: -4800px;
    
}
#d28{
    left: 1200px;
    top: -4800px;
    
}
#d29{
    left: 1400px;
    top: -5600px;
    
}
#d30{
    left: 1400px;
    top: -5600px;
    
}
#d31{
    left: 1400px;
    top: -5600px;
    
}
#d32{
    left: 1400px;
    top: -5600px;
    
}
#d33{
    left: 1600px;
    top: -6400px;
    
}
#d34{
    left: 1600px;
    top: -6400px;
    
}
#d35{
    left: 1600px;
    top: -6400px;
    
}
#d36{
    left: 1600px;
    top: -6400px;
    
}
